doctype html
html
  include includes/head
  body.d-flex.text-center.text-white.bg-dark

    div.cover-container.d-flex.w-100.p-3.mx-auto.flex-column
      header.mb-auto
        div
          h3.float-md-start.mb-0 +++
          include includes/nav

      main.px-3
        h1 Its not over yet
        p.lead.
          Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.

        - const items = ["Nunc dignissim risus id metus.", "Cras ornare tristique elit.", "Praesent placerat risus quis eros."]

        ul.lead
          each item in items  
            li= item

        p.lead. 
          ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.

        p.lead
          a(href="#", class="btn btn-lg btn-secondary fw-bold border-white") Learn more


      footer.mt-auto.text-white-50
        p
          | Cover template for 
          a(href="https://getbootstrap.com/", class="text-white") Bootstrap

  include includes/bottom.pug
