doctype html
html
  include includes/head
  body.d-flex.text-center.text-white.bg-dark

    div.cover-container.d-flex.w-100.p-3.mx-auto.flex-column
      header.mb-auto
        div
          h3.float-md-start.mb-0 +++
          include includes/nav

      main.px-3
        h1.
          Praesent dapibus, neque id cursus faucibus

        - const myAttributes = {"src": "img/01.jpg", "alt": "photo", "class": "img-fluid mb-4"}

        img&attributes(myAttributes)

        p
          :markdown-it(inline) **BOLD TEXT**


        :markdown-it(linkify langPrefix='highlight-')
          #### Markdown

            ```js
              var codeBlocks;
            ```

        p.
          In the midst of a large amount of plain
          text, suddenly a wild #[:markdown-it(inline) *Markdown*]
          appeared.

        :markdown-it(linkify langPrefix="highlight-")
          ```html
            <label for="exampleColorInput" class="form-label">Color picker</label>
            <input type="color" 
                  class="form-control form-control-color" 
                  id="exampleColorInput" 
                  value="#563d7c" 
                  title="Choose your color">
          ```


      footer.mt-auto.text-white-50
        p
          | Cover template for 
          a(href="https://getbootstrap.com/", class="text-white") Bootstrap

  include includes/bottom.pug

  
