//@import "_variables.scss";
//@import "_mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Prata&family=Quicksand:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 1rem;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  height: 100vh;
  font-family: "Prata", serif;

  &::after {
    content: "";
    background: url(https://images.unsplash.com/photo-1606592641984-c9a1506d0705?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1778&q=80)
      no-repeat center;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .cover-container {
    max-width: 62em;
    height: 100vh;

    .nav-masthead {
      .nav-link {
        padding: 0.25rem 0;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.7);
        background-color: transparent;
        border-bottom: 0.25rem solid transparent;

        &:hover,
        &:focus {
          border-bottom-color: rgba(255, 255, 255, 0.25);
        }

        + .nav-link {
          margin-left: 1rem;
        }
      }
    }

    .active {
      color: #fff;
      border-bottom-color: #fff;
    }

    h1 {
      text-transform: uppercase;
      font-size: 1.9rem;
      letter-spacing: 4px;
      font-family: "Quicksand", sans-serif;
      color: rgb(119, 214, 243);
      margin: 4rem;
    }

    ul {
      list-style: none;
    }
    
    code {
      text-align: left;
    }

    .img-fluid {
      height: 30vh;
    }
  }
}
